.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container-fluid {
  max-height: 100%;
}

.navbar {
  background-color: rgb(250, 235, 215);
}

.nav-link.active {
  background-color: #61dafb;
  border-bottom: #282c34 solid 1px;
}

.nav-item:hover {
  background-color: rgb(247, 213, 169);
  border-bottom: #282c34 solid 1px;
  transition: all 0.5s ease-in-out;
}

.dropdown-item {
  color: #878585;
}

.dropdown-item:hover {
  background-color: #ccc;
  color: black;
}